.banner-home {
    position: relative;

    img {
        max-width: 100%;
        filter: brightness(60%);
    }

    .text-banner {
        text-transform: uppercase;
        color: #fff;
        position: absolute;
        top: 23%;
        left: 20%;
        letter-spacing: 1px;

        p {
            font-size: 12px;

        }

        .title-banner {
            font-weight: 800;
            font-size: 2rem;
            width: 300px;

        }
    }
    .btn-light-blue{
        padding: 2% 5%;
        background-color: var(--light-blue);
        border: 0.5px solid transparent;
        border-radius: 5px;
        font-size: 1rem;
        color: white;
        transition: all 0.2s;
        text-transform: uppercase;
        letter-spacing: 2px;
        &:hover {
            border: 0.5px solid var(--dark-blue);
            background-color: var(--grey-blue);
        }
    }
}

.banner-info {
    background-color: #fff;
    overflow: hidden;

    img {
        max-width: 100%;
        height: 100%;
        transform: scale(1);
        transition: all 1s;
        filter: brightness(70%);
        &:hover {
            transform: scale(1.1);
        }
    }

    .text-banner-info {
        padding: 10% 7% 5% 12%;
        p {
            font-size: 1.2rem;
        }

        button {
            background-color: var(--dark-blue);
            // border: 1px solid var(--dark-blue);
            font-size: 0.9rem !important;

            &:hover {
                background-color: var(--grey-blue);
                color: var(--dark-blue);
            }
        }
    }

}

.banner-attribute {
    padding: 5%;
    text-align: center;

    img {
        width: 30%;
        height: 60px;
        object-fit: contain
    }

    .attribute-card {
        text-align: center;
        margin: 15px;
        background-color: var(--grey-blue);
        box-shadow: 6px 6px 10px var(--light-blue);
        border: none;
        transition: ease-in-out 0.5s;
        p {
            margin-top: 30px;
            margin-bottom: 0 !important;
            text-transform: uppercase;
            font-weight: 900;
            color: var(--deep-blue);
        }
        &:hover {
            box-shadow: none;
            background-color: var(--deep-blue);
            p{
                color: #fff;
            }
        }
    }
}
.banner-list-lawer{
    padding: 4%;
    .list-lawer-card{
        margin: 10px;
    }
}
