:root {
    --grey-blue: rgba(163, 189, 215, .29);
    --dark-blue: #00264c;
    --light-blue: #628fbc;
    --orange: #DC5F00;
    --body-background: #f0f1f3
}
.btn-primary{
    background-color: var(--dark-blue);
    border-radius: 3px;
    letter-spacing: 1px;
    color: #fff;
}
.btn-outline-primary{
    border: 1px solid var(--dark-blue);
    border-radius: 3px;
}